html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #EFFAFA;
}

@font-face{
    font-family: spartanRegular;
    src: url(Spartan/static/Spartan-Regular.ttf)
}

@media only screen and (max-width: 375px) {

#desktopBanner{
    display: none;
}

#mobileBanner{
    width: 100%;
    height: 156px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5CA5A5;
}

.mainContentContainer{
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-top: 120px;
    margin-left: 24px;
}

.tagSelector{
    height: 100px;
    width: 327px;
}

.jobListing{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 257px;
    width: 327px;
}

#logoCircle{
    height: 48px;
    width: 48px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: -24px;
    left: 24px;
}

#companyName{
    color: #5CA5A5;
    font-size: 13;
    margin-top: 28px;
    margin-left: 24px;
    font-family: spartanRegular;
}

#newTag{
    height: 24px;
    width: 51px;
    border-radius: 8px;
    background-color: #5CA5A5;
    color: white;
    margin-top: 23px;
    margin-left: 10px;
    text-align: center;
    line-height: 24px;
    font-family: spartanRegular;
    font-size: 11px;
}

#featuredTag{
    height: 24px;
    width: 79px;
    border-radius: 8px;
    background-color: black;
    color: white;
    margin-top: 23px;
    margin-left: 10px;
    text-align: center;
    line-height: 24px;
    font-family: spartanRegular;
    font-size: 11px;
}

#position{
    width: 221px;
    height: 24px;
    font-family: spartanRegular;
    font-size: 15px;
    margin-left: 24px;
}

.break{
    width: 100%;
    height: 0px;
}

#timeLocaleTags{
    font-size: 13;
    font-family: spartanRegular;
    margin-left: 24px;
    color: #7C8F8F;
}

#requirementsTags{
    margin-left: 24px;
}

#requirementsTags button{
    background-color: #EFFAFA;
    border: none;
    font-family: spartanRegular;
    padding: 8px;
    font-weight: bold;
}


}

@media only screen and (min-width: 376px) {

    #mobileBanner{
        display: none;
    }

    #desktopBanner{
        width: 100%;
        height: 156px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #5CA5A5;
    }

    .mainContentContainer{
        display: flex;
        flex-direction: column;
        z-index: 2;
        margin-top: 120px;
        margin-left: 24px;
        align-items: center;
    }

    .tagSelector{
        height: 72px;
        width: 1110px;
    }

    .jobListing{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 152px;
    width: 1110px;
    }

    #logoCircle{
    height: 88px;
    width: 88px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 24px;
    }

    #companyName{
    margin-left: 150px;
    margin-top: 30px;
    color: #5CA5A5;
    font-family: spartanRegular;
    }

    #newTag{
    height: 24px;
    width: 51px;
    border-radius: 8px;
    background-color: #5CA5A5;
    color: white;
    margin-top: 27px;
    margin-left: 10px;
    text-align: center;
    line-height: 24px;
    font-family: spartanRegular;
    font-size: 11px;
    }

    #featuredTag{
        height: 24px;
        width: 79px;
        border-radius: 8px;
        background-color: black;
        color: white;
        margin-top: 27px;
        margin-left: 10px;
        text-align: center;
        line-height: 24px;
        font-family: spartanRegular;
        font-size: 11px;
    }

    #position{
        position: absolute;
        top: 60px;
        left: 150px;
        color: #5CA5A5;
        font-size: 18;
        font-weight: bold;
        font-family: spartanRegular;
    }

    #timeLocaleTags{
        position: absolute;
        font-size: 13;
        font-family: spartanRegular;
        left: 150px;
        top: 90px;
        color: #7C8F8F;
    }

    #requirementsTags{
        position: absolute;
        top: 60px;
        right: 30px;
    }
    
    #requirementsTags button{
    background-color: #EFFAFA;
    border: none;
    font-family: spartanRegular;
    padding: 8px;
    font-weight: bold;
    }

    #requirementsTags button:hover{
        background-color: #5CA5A5;
        color: white;
    }
}